* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  width: 100%;
  background: #ffffff;
text-align: center;
height: 176px;
padding:64px 24px 24px 24px;
}
header img {
  width:88px;
  height: 88%;
  border-radius:50%;
  border: 1px dashed #D0D5DD;
}
header .rajissImg{
  width: 100%;
  position: relative;
  overflow: hidden;
}
header .share{
  position: absolute;
  top:0;
  right:230px;
  width: 40px;
  height: 40px;
}
header h1 {
  Line-height: 30px;
  font-Weight: 700;
  font-size:20px ;
  font-family: 'Inter';
  font-style: normal;
  color: #101828;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 64px 144px 64px 144px;
  width: 100%;
}
main ul {
width: 100%;
}
main ul li{
  background: #EAECF0;
  width: 100%;
  height:76px;
  margin-top: 24px;
  list-style: none;
  display: grid;
  place-content: center;
  font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}
main ul li button{
  border:none;
  outline:none;
  background: none;
}
main ul li button a{
  text-decoration: none;
  color: #101828;
}
main .social-icons{
    width: 100%;
    height: 76px;
    display: grid;
    place-content: center;
}
main .social-icons .wrap{
  display: flex;
  gap: 24.55px;
}

main .social-icons .wrap img{
  width: 24px;
  height: 23.45px;
}
footer{
  width: 100%;
  padding:48.28px 113.36px;
}
footer .container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .container p{
  height: 24px;

  /* Text md/Normal */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Gray/500 */

  color: #667085;
}
footer .container .zuri{
  Width: 185.03px;
  height: 24.74px;
}
footer .container .i4g{
  Width: 132.13px;
  height: 32px;
}
@media screen and (max-width:900px) {
  header .share {
    right: 0;
  }
}

@media screen and (max-width:820px) {
  header .share {
      right: 0;
    }
  main {
      padding: 64px 30px 64px 30px;
    }
      footer {
          padding: 0 0 0 40px;
          margin-left: 0;
        }
                footer .container {
                  display: block;
                  padding: 0;
                }
        
                footer .container p {
                  width: 213px;
                  height: 20px;
                  margin-bottom: 16px;
                }
        
                footer .container .zuri {
                  width: 138.77px;
                  height: 18.55px;
                  margin-bottom: 16px;
                }
        
                footer .container .i4g {
                  width: 99.1px;
                  height: 24px;
                  margin-bottom: 16px;
                }
      }

@media screen and (max-width:600px){
    header .share {
        right: 0;
      }
main {
    padding: 64px 20px 64px 20px;
  }
    main ul li {
      height: 68px;
    }
    footer{
      padding:0 0 0 20px;
      margin-left: 0;
    }

}
@media screen and (max-width:300px){
    main ul li {
      height: 50px;
    }
    header .share{
      width: 30px;
      height: 30px;
    }
    header h1{
      font-size: 14px;
    }
  footer .container p {
      font-size: 14px;
      width: 188px;
  }


  footer .container .zuri {
    height: 14.55px;
    margin-bottom: 16px;
  }

  footer .container .i4g {
    height: 20px;
  }
}

